@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  --navy: #1a3263;
  --steel: #547792;
  --gold: #fab95b;
  --cream: #e8e2db;
}

body {
  background-color: #f9f7f4;
}